.myCardItem
{
    background-color: transparent;
    margin-left: 100px;
}  
.bannerTitle{
    font-size: 3rem;
    text-align: left;
    margin-bottom: 4%;
    
}

@media (max-width: 601px) {
    .bannerTitle{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 5%;
        margin-top: 6%;
    }
    
}